/* popup.css */
body {
    margin: 0;
    /* background: linear-gradient(-45deg, #031888, #6096fd, #aab6fb, #fb7b8e);
    animation: Gradient 15s ease infinite;
    
    */

    min-width: 800px;
}

h1 {
    text-align: center;
    /* Align the h1 element to the center */
    font-size: 24px;
    /* Adjust font size as needed */
    margin: 0;
    /* Remove default margin */
    background-color: #568ea6;
}

/* 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    } 
}*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    gap: 10px;
    background-color: #cbe0d7;
}

.grid-item {

    width: 800px;
    /* Adjust width as needed */
    padding: 3px;
    /* Add padding for spacing */
}


#tools {
    grid-row: 2;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    border-style: double dashed;
    border-color: #6096fd;

    grid-column: span 3;
    background-color: #d9ebd1;

}

#totalJobs {
    display: flex;
    color: rgb(0, 0, 0);

    font-size: 12px;


}

#todayJobs {
    display: flex;
    color: rgb(0, 0, 0);

    font-size: 12px;

}

#counts {
    display: flex;

    flex-direction: column;
    grid-column: span 3;

    border-style: dashed;
    border-radius: 10%;
    border-color: #f7f7f7;


}

.linkList {
    list-style-type: none;
    font-size: 12px;
    grid-column: span 3;
    padding: 10px;
    /* Remove default padding */
}

/* Existing CSS */

.linker {
    overflow-wrap: break-word;
    width: 500px;
    margin-left: 10px;
}

.strikethrough {
    text-decoration: line-through;
}

/* Adjusted CSS for .linker */

.linker {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-grow: 1;
}

.linker a {
    flex-grow: 1;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    margin-bottom: 10px;
    /* Add some space between rows */
    border: 1px solid #568ea6;
    /* Add a border around each row */
    padding: 10px;
    /* Add some padding inside the border */
}


.col,
.col-10 {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
}

.linker .actions {
    display: flex;
    gap: 10px;
}