/* popup.css */
body {
    margin: 0;
    /* background: linear-gradient(-45deg, #031888, #6096fd, #aab6fb, #fb7b8e);
    animation: Gradient 15s ease infinite;
    
    */



    min-width: 800px;
}

h1 {
    text-align: center;
    /* Align the h1 element to the center */
    font-size: 24px;
    /* Adjust font size as needed */
    margin: 0;
    /* Remove default margin */
}

/* 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    } 
}*/

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* Define a 3-column grid */
    gap: 2px;
    /* Add some spacing between grid items */
}

.grid-item {
    width: 100%;
    /* Adjust width as needed */
    padding: 3px;
    /* Add padding for spacing */
}

#tools {
    grid-row: 2;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-style: dashed;
    border-color: #6096fd;
    border-radius: 5%;

}

#totalJobs {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 12px;


}

#todayJobs {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;

    align-items: center;
    font-size: 12px;

}

#counts {
    gap: 0;

    padding: 0%;
    border-style: dashed;
    border-radius: 10%;
    border-color: #fb7b8e;
}

.linkList {

    font-size: 12px;

    padding: 10px;
    /* Remove default padding */
}

.linker {
    overflow-wrap: break-word;
}